@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

body {
  background-color: #f5f5f5 !important;
}

/* .navbar {
  display: flex !important;
} */

.navbar-brand {
  margin: 0.2em !important;
  padding: 0.1em !important;
}

.img-logo {
  block-size: 7.5em;
}

.d-flex {
  padding-left: 15em;
}

.form-control {
  width: 25em !important;
  border-radius: 5px 0px 0px 5px !important;
}

#search-icon {
  border-radius: 0px 5px 5px 0px !important;
}

.btn {
  width: 3em;
  border: 1px solid #d1d6dc !important;
  border-left: 0px solid !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
}

.nav-link {
  display: block;
  padding-right: 2em !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: black !important;
}

.nav-link:hover {
  color: black !important;
}

.fas:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.7s;
  cursor: pointer;
}

/* .material-icons:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.7s;
  cursor: pointer;
} */


/* LOGIN REGIST */

.login-register{
  margin: 1em 4em 1em 1em;
}

.login, .register{
  margin: 1em;
  text-decoration: none;
  color: black;
  background: none;
}

.login:hover, .register:hover{
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(127, 255, 224);
}

.after-login1{
  display: none;
  text-decoration: none;
}

.after-login2{
  display: flex;
  align-items: center;
}

.dropdown-menu[data-bs-popper] {
  left: 1.25em !important;
}

.dropdown-menu {
  min-width: 0em !important;
  /* background-color: #f5f5f5 !important; */
  background-clip: none !important;
  border: 0px !important;
  text-align: center !important;
}

.hp-section {
  padding: 2em;
}

.post-content {
  display: block;
  background-color: white;
  /* margin: 0em 24em 0em 5em; */
  /* margin-bottom: 2em; */
  padding: 1.5em 0em 1.5em 1.5em;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07); */
  border-radius: 5px;
}

.post-content:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.post-text {
  color: #c3c6ca;
  font-weight: normal;
}

#article-dummy {
  /* margin: 2em 24em 0em 5em; */
  margin-top: 2em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

#article-dummy:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#card-title {
  padding: 0em 2em 0em 1em;
  font-size: xx-large;
  font-weight: 1200;
  text-align: justify;
}

#card-text {
  padding: 2em;
  padding-top: 0em;
  padding-bottom: 1em;
  text-align: justify;
}

#header-cancel-post {
  border-radius: 5px 5px 0px 0px;
}

#cancel-post-article {
  float: right;
  background: none;
  color: rgba(255, 0, 0, 0.5);
}

#cancel-post-article:hover {
  color: rgba(255, 0, 0, 1);
}

#popup-post-content {
  /* margin-bottom: 2em; */
  border-radius: 5px;
  display: none;
}

#top-article-box {
  text-align: center;
}

.top-article-text {
  padding-bottom: 1em;
  text-align: center;
}

.input-article-title {
  border: 0em;
  margin: 1em;
  margin-bottom: 0em;
  width: 41.5em;
  height: 3em;
  outline: none;
}

.input-article-body {
  border: 0em;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 41.5em;
  height: 3em;
  resize: none;
  outline: none;
}

.post-article-font-edit {
  margin: 1em;
  height: 1em;
}

#bold,
#italic,
#highlighter,
#input-image {
  margin: 0.5em;
  margin-bottom: 0em;
  margin-top: 0em;
}

#submit-button {
  margin-top: -0.1em;
  float: right;
  background: none;
  color: rgba(0, 0, 0, 0.5);
}

#submit-button:hover {
  color: rgba(0, 0, 0, 1);
  transition-duration: 0.7s;
  cursor: pointer;
}

#pagination-ul {
  margin-left: 50%;
  margin-right: 50%;
}

.page-item.active .page-link {
  color: black !important;
  background-color: rgb(127, 255, 224) !important;
  border-color: black !important;
}

.page-item .page-link {
  color: black !important;
}

.page-item .page-link:hover {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}

.login-submit-button{
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  width: 4em;
  height: 2em;
}

#login-submit{
  display: flex;
  align-items: center;
  justify-content: center;
}

#remember-me, #remember-me-text{
  cursor: pointer !important;
}

#register-content{
  max-width:calc(100% - 2em);
  width: 50em;
}

.register-submit-button{
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  width: 4em;
  height: 2em;
}

#register-submit{
  display: flex;
  align-items: center;
  justify-content: center;
}