*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    background-color: #F0F0F0;
}

#box{
    background-color: #ffffff;
    margin: 3% 2.5%;
    height: 85vh;
    box-shadow: 0px 0px 8px #C0C0C0;
}

.part1{
    display: flex;
    padding: 1.8em 2.7em;
    align-items: center;
}

.imagebox{
    background-color: #C4C4C4;
    border-radius: 70px;
    width: 8.8em;
    height: 8.8em;
    text-align: center;
    position: relative;
}

.imagebox input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imagebox label{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.contents{
    padding-left: 4.9em;
}

.contents h1{
    font-size: 35px;
}

.ctop{
    display: flex;
    align-items: center;
}

.symbol{
    padding-left: 0.4em;
    cursor: pointer;
}

.radio-hidden{
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>i {
    color: #7FFFE0;
    transition: 500ms;
}

.contents input{
    width: 33vw;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid black;
}

.contents input::placeholder{
    color: #E21212;
    font-weight: 3;
}

.part2{
    padding-bottom: 30px;
}

.part2, .usercontent{
    display: flex;
}

.leftcontent, .rightcontent{
    padding: 0 68px;
}

.leftcontent table, .rightcontent table{
    width: 150%;
    font-size: 22px;
}

.userview{
    font-weight: bold;
}

.userinput{
    font-weight: lighter;
}

.left-down td, .right-down td{
    padding-top: 15px;
}

hr{
    margin: auto;
    width: 90%;
    border: 1px solid #000000;
}

.part3{
    padding: 30px 68px 0 68px;
}

.psw{
    display: flex;
}

.cpsw{
    padding-top: 1.7%;
    display: flex;
}

.psw label, .cpsw label{
    font-weight: bold;
    font-size: 22px;
}

.psw label{
    padding-right: 4.36em;
}

.cpsw label{
    padding-right: 0.5em;
}

.psw input, .cpsw input{
    width: 33vw;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid black;
}

.part3 input::placeholder{
    color: #E21212;
    font-weight: 3;
}

.btns{
    margin-top: 2em;
    padding-right: 2.4em;
    float: right;
    display: flex;
    align-items: center;
}

.btns a{
    text-decoration: none;
    color: #FF0000;
    font-size: 27px;
    padding-right: 1.5em;
}

.btns a:hover{
    color: #8b0000;
}

.editBio{
    border: none;
    background-color: #7FFFE0;
    margin-right: 4.4%;
    width: 120px;
    height: 50px;
    transition: 0.3s;
    font-size: 27px;
}

.editBio:hover{
    background-color: #00FFFF;
}