*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    background-color: #F0F0F0;
}

#box{
    background-color: #ffffff;
    margin: 3% 2.5%;
    height: 85vh;
    box-shadow: 0px 0px 8px #C0C0C0;
}

.part1{
    display: flex;
    padding: 3% 3%;
    align-items: center;
}

.imagebox{
    padding: 2%;
    background-color: #C4C4C4;
    border-radius: 100px;
    width: 12%;
    height: 12%;
}

.contents{
    padding-left: 3%;
}

.contents h1{
    font-size: 250%;
}

.contents input{
    width: 250%;
    height: 6vh;
    text-indent: 2.5%;
    border-radius: 5px;
}

.contents input::placeholder{
    color: #E21212;
    opacity: 60%;
    font-weight: 10;
}

.usercontenttop, .leftcontent, .rightcontent{
    display: flex;
}

.leftcontent h1, .rightcontent h1{
    font-size: 30px;
    padding-left: 20%;
    margin-left: 100px;
    width: 100%;
    background-color: red;
}