*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    background-color: #F0F0F0;
}

#box{
    background-color: #ffffff;
    margin: 3% 2.5%;
    height: 85vh;
    box-shadow: 0px 0px 8px #C0C0C0;
}

.part1{
    display: flex;
    padding: 2.1% 3%;
    align-items: center;
}

.imagebox{
    background-color: #C4C4C4;
    border-radius: 100px;
    width: 8.8em;
    height: 8.8em;
}

.contents{
    padding-left: 5em;
}

.contents h1{
    font-size: 35px;
}

.ctop{
    display: flex;
}

.contents input{
    width: 193%;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid black;
}

.contents input::placeholder{
    color: #E21212;
    font-weight: 3;
}

.part2{
    padding-bottom: 30px;
}

.part2, .usercontent{
    display: flex;
}

.leftcontent, .rightcontent{
    padding: 0 68px;
}

.leftcontent table, .rightcontent table{
    width: 150%;
    font-size: 22px;
}

.userview{
    font-weight: bold;
}

.userinput{
    font-weight: lighter;
}

.left-down td, .right-down td{
    padding-top: 15px;
}

.user-edit{
    background-color: #7FFFE0;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    /* margin-left: 14%; */
    align-items: center;
    border: none;
}

hr{
    margin: auto;
    width: 90%;
    border: 1px solid #000000;
}

.part3{
    padding: 30px 68px 0 68px;
}

.psw{
    display: flex;
}

.cpsw{
    padding-top: 1.7%;
    display: flex;
}

.psw label, .cpsw label{
    font-weight: bold;
    font-size: 22px;
}

.psw label{
    padding-right: 4.36em;
}

.cpsw label{
    padding-right: 0.5em;
}

.psw input, .cpsw input{
    width: 39.5%;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid black;
}

.part3 input::placeholder{
    color: #E21212;
    font-weight: 3;
}

.btns{
    margin-top: 2em;
    padding-right: 2.4em;
    float: right;
    display: flex;
    align-items: center;
}

.btns a{
    text-decoration: none;
    color: #FF0000;
    font-size: 27px;
    padding-right: 1.5em;
}

.btns a:hover{
    color: #8b0000;
}

.editBio{
    border: none;
    background-color: #7FFFE0;
    margin-right: 4.4%;
    width: 120px;
    height: 50px;
    transition: 0.3s;
    font-size: 27px;
}

.editBio:hover{
    background-color: #00FFFF;
}